{% layout 'layout.liquid'%}
{% block content %}
<div class="section"></div>
    <p class="mb-2" style="text-align:center"><span class="h2 me-2">Hello {{username}}</span></p>
       
        <div class="d-flex flex-row py-5">
        {% for routine in routines %}
         <div class="container py-2">
            
            {%- comment -%} <div class="col col-lg-4 col-xl-4"> {%- endcomment -%}
            <div class="card rounded-3 col">
                <h5 class="card-body p-2">{{routine.title}}</h5>
                {% for task in routine.listItems %}
                <ul class="list-group rounded-0">
               <li class="list-group-item border-1  align-items-center ps-2">
                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." 
                  {%if task.complete%}
                checked
                {% endif %} >
                {%if task.complete%}
                <s>{{task.task}}</s>
                {% else %}
                {{task.task}}
                {% endif %}
                {% if task.complete%}
                
                
                {%else%}
                <span
                class="badge bg-danger">not done</span>
                {% endif %}
              </li>
                </ul>
              {% endfor %}
                    <a class="btn btn-info" href="/routine/{{routine.id}}">
                        View {{routine.title}}  </a>
                    
            </div>
         </div>    
    {% endfor %}
    </div>
</div>
    

{% endblock %}